@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/static/img/background.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #dadde4;
}

.banner-text h1 {
  font-size: 100px;
  font-weight: 700;
}

.banner-text h2 {
  font-size: 30px;
  font-weight: 400;
}

.banner-btn a {
  border: 1px solid #ffffff;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  margin: 35px 10px;
  color: #ffffff;
}

h1 {
  color: #f7aa29;
  font-weight: 600;
  text-align: center;
}

h5 {
  color: #f7aa29;
  font-weight: 600;
  font-size: 30px;
}

span {
  font-weight: 300;
  font-size: 12px;
}

li {
  font-weight: 500;
}

@media (max-width: 600px) {
  .banner-text h1 {
    font-size: 60px;
  }

  .banner-text h2 {
    font-size: 20px;
  }

  .banner-btn a {
    margin: 10px 10px;
  }
}
