{% extends 'base.html' %} {% load static %} {% block meta %}
<title>KegiatanKU.</title>
{% endblock meta %} 
{% block content %}

<header>
  <div class="container">
    <div class="banner-text">
      <div class="text-area">
        <h1>KegiatanKU.</h1>
        <h2>Atur kegiatan kamu beserta orang yang kamu percayai</h2>
        <p class="banner-btn">
          <a href="{% url 'main:tambahkegiatan'%}" class="active">Tambah Kegiatan</a>
          <a href="{% url 'main:listkegiatan'%}" class="active">Lihat Kegiatan</a>
        </p>
      </div>
    </div>
  </div>
</header>

{% endblock content %}
