{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hapus Peserta</title>
{% endblock meta %}

{% block content %}
<br>
<br>
  <div class="container">
    <form method="POST">
        {% csrf_token %} 
        <h2>Apakah kamu ingin menghapus peserta "{{pesertaid.namaorang}}" ?</h2>
        <p>Jika sudah terhapus, maka data tidak dapat dikembalikan lagi</p>
        <button type="Submit" class="btn btn-danger"value="Hapus">Hapus</button>
        <a href="{% url 'main:listkegiatan'%}" class="btn btn-primary" class="active">Batal</a>
    </form>
    
    
  </div>{% endblock content %}
