{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar KegiatanKu</title>
{% endblock meta %}

{% block content %}


<div class="container">
	<div class="col-md-12 d-flex justify-content-center mt-5">
      <h1 style="font-family: Rubik, sans-serif">Daftar Kegiatan</h2>
    </div>
  </div>
  <div class="container">
    <div class="col-md-12 d-flex justify-content-center mt-2">
        <p style="font-family: Rubik, sans-serif">Inilah daftar kegiatan beserta peserta yang ikut</p>
      </div>
    </div>
  <div class="container">
	<div class="col-lg-12 d-flex justify-content-center mt-3">
        <a class='btn btn-primary' href="{% url 'main:halamandepan'%}"">Kembali</a>
    </div>
  </div>

  <div class="col-lg-12 d-flex justify-content-center mt-3">
    <a class='btn btn-success' href="{% url 'main:tambahkegiatan'%}"">Tambah Kegiatan</a>
</div>
</div>
  <div class="container">
	<div class="col-md-12 d-flex justify-content-center mt-4">
        <span>Tombol merah untuk menghapus peserta</span>
  </div>
</div>
{% for kegiatan in kegiatan %}
<div class="row">

</div>
<div class="col-sm-12 d-flex justify-content-center mt-4">
<!-- <div class="container sm-10"> -->
    <div class="card" style="width: 24rem;">
        <img src= "{% static 'img/background.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{kegiatan.namakegiatan}}</h5>
          <span>Desc:</span>
          <p class="card-text">{{kegiatan.deskripsi}}</p>
          <span>Peserta:</span>
        </div>
        
        <ul class="list-group list-group-flush">
            
        {% for pesertaid in pesertaid %}
            {% if pesertaid.kegiatan == kegiatan %}

            <li class="list-group-item">{{pesertaid.namaorang}}  <br>
              <a href="{%url 'main:hapuspeserta' pesertaid.id%}" class="btn btn-danger"></a>

       </li>
          {%endif%}
          {% endfor %}
        </ul>
        
        <div class="card-body">
          <a href="{% url 'main:tambahpeserta' kegiatan.id%}" class="card-link">Tambah peserta</a>
        </div>
    </div>
    <br>
<!-- </div> -->
</div>
{% endfor %}
<br>
<br>



{% endblock content %}
