{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Peserta</title>
{% endblock meta %}

{% block content %}

<div class="container">
	<div class="col-md-12 d-flex justify-content-center mt-5">
	  <h1 style="font-family: Rubik, sans-serif">Tambah Peserta</h2>
	</div>
  </div>
  <div class="container">
	<div class="col-md-12 d-flex justify-content-center mt-1">
	  <p style="font-family: Rubik, sans-serif">
		Tambah peserta di kegiatan tertentu
	  </p>
	</div>
  </div>

  <div class="container mt-2">
	<div class="row d-flex justify-content-center">
	  <div class="col-lg-6">
		<div class="form-group">
		  <form method="POST" style="font-family: Rubik, sans-serif">
			{% csrf_token %} {{form.as_p}}
			<br />
			<button type="Submit" class="btn btn-success">Simpan</button>
			<a class= 'btn btn-primary' href="{% url 'main:listkegiatan'%}" class="active">Kembali</a>
			<br />
		  </form>
		</div>
	  </div>
	</div>
 </div>

{% endblock content %}
